<!DOCTYPE html>
<html>

<head>
    <title>Lisää profiilikuva</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1> Lisää profiilikuva</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="info alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
  </div> 

  <div class="nav">
    <nav>
      <p>
        <a href="/">Poistu tallentamatta</a>
      </p>
    </nav>
  </div>

  <div class="content">
    <p>
        Voit lisätä jpg-tiedoston millä koko enintään 100kt.
    </p>

    <form action="/add_image" method="post" enctype="multipart/form-data">
        <p>
            Kuva: <input type="file" name="image" accept=".jpg" />
        </p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
        <input type="submit" value="Lähetä" />
    </form>

    <p>
        <a href="/user/{{ session.user_id }}">Takaisin</a>
    </p>

    {% for message in get_flashed_messages() %}
    <p>
        <b>{{ message }}</b>
    </p>
    {% endfor %}
  </div>

</body>
</html>


