<!DOCTYPE html>
<html>

<head>
  <title>Viestin muokkaus</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>Viestin muokkaus</h1>
  </div>

  <div class="nav">
    <p>
      <a href="/">Peruuta</a>
    </p>
  </div>

  <div class="content">
    <form action="/edit/{{ message.id }}" method="post">
      <p>
        Viesti:<br />
        <textarea name="content" rows="5" cols="40">{{ message.content }}</textarea>
      </p>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" value="Lähetä" />
    </form>
  </div>
</body>

</html>