<!DOCTYPE html>
<html>

<head>
  <title>Keskustelu</title>
</head>

<body>
  <h1>Keskustelu</h1>

  <p>
    {% if not session.user_id %}
        <a href="/register">Luo tunnus</a> |
        <a href="/login">Kirjaudu sisään</a>
    {% else %}
        <a href="/logout">Kirjaudu ulos</a>
    {% endif %}
  </p>

  <hr />
  {% for thread in threads %}
  <p>
    <a href="/thread/{{ thread.id }}">{{ thread.title }}</a>
    <br />
    {{ thread.total }} viestiä, uusin {{ thread.last }}
  </p>
  <hr />
  {% endfor %}

  {% if session.user_id %}
  <h2>Uusi ketju</h2>

  <form action="/new_thread" method="post">
    <p>
      Otsikko:<br />
      <input type="text" name="title" maxlength="50" required />
    </p>
    <p>
      Viesti:<br />
      <textarea name="content" rows="5" cols="40" maxlength="1000"></textarea>
    </p>
    <input type="submit" value="Lähetä" />
  </form>
  {% endif %}

  <form action="/search" method="get">
    <p>
      Hakusana:
      {% if query %}
      <input type="text" name="query" value="{{ query }}" />
      {% else %}
      <input type="text" name="query" />
      {% endif %}
    </p>
    <input type="submit" value="Hae" />
  </form>

  {% if query %}
  <hr />
  <h2>Tulokset</h2>

  <ul>
  {% for result in results %}
    <li>
      <a href="/thread/{{ result.thread_id }}#{{ result.message_id }}">
        {{ result.thread_title}}
      </a>
      <br />
      {{ result.username }} ({{ result.sent_at }})
    </li>
  {% endfor %}
  </ul>
  {% endif %}

</body>

</html>