<!DOCTYPE html>
<html>

<head>
  <title>Keskustelupalsta</title>
</head>

<body>
  <h1>Keskustelupalsta</h1>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <p>
    <a href="/search">Haku</a> |
    {% if session.user_id %}
    <a href="/logout">Kirjaudu ulos</a> |
    {% else %}
    <a href="/login">Kirjaudu sisään</a> |
    <a href="/register">Luo tunnus</a> |
    {% endif %}
  </p>

  <hr />
  {% for thread in threads %}
  <p>
    <a href="/thread/{{ thread.id }}">{{ thread.title }}</a>
    <br />
    {{ thread.total }} viestiä, uusin {{ thread.last }}
  </p>
  <hr />
  {% endfor %}

  {% if session.user_id %}
  <h2>Uusi ketju</h2>

  <form action="/new_thread" method="post">
    <p>
      Otsikko:<br />
      <input type="text" name="title" maxlength="100" required />
    </p>
    <p>
      Viesti:<br />
      <textarea name="content" rows="5" cols="40" maxlength="5000"></textarea>
    </p>
    <input type="submit" value="Lähetä" />
  </form>
  {% endif %}

  <p>
    <a href="/{{ page - 1 }}">&lt;&lt;</a>
    Sivu {{ page }}/{{ page_count }}
    <a href="/{{ page + 1 }}">&gt;&gt;</a>
  </p>
  <hr />

</body>

</html>