<!DOCTYPE html>
<html>

<head>
  <title>Keskustelupalsta</title>
</head>

<body>
  <h1>Keskustelupalsta</h1>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <p>
    <a href="/search">Haku</a> |
    {% if session.user_id %}
    <a href="/logout">Kirjaudu ulos</a> |
    {% else %}
    <a href="/login">Kirjaudu sisään</a> |
    <a href="/register">Luo tunnus</a> |
    {% endif %}
  </p>

  <hr />
  {% for thread in threads %}
  <p>
    <a href="/thread/{{ thread.id }}">{{ thread.title }}</a>
    <br />
    {{ thread.total }} viestiä, uusin {{ thread.last }}
    <p>
    Tyyppi: {{ thread.type }} <br />
    Käsittelytila: {{ thread.status }} <br />
    Prioriteetti: {{ thread.priority }} <br />
    </p>
  </p>
  <hr />
  {% endfor %}

  {% if session.user_id %}
  <h2>Uusi ketju</h2>

  <form action="/new_thread" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <p>
      Otsikko:<br />
      <input type="text" name="title" maxlength="100" required />
    </p>
    <p>
      Viesti:<br />
      <textarea name="content" rows="5" cols="40" maxlength="5000"></textarea>
    </p>

    <p>
      <label for="type">Tyyppi:</label>
      <select name="type" id="type">
        <option value="Info">Info</option>
        <option value="Kysymys">Kysymys</option>
        <option value="Ilmoitus">Ilmoitus</option>
      </select>
    </p>

    <p>
      <label for="status">Käsittelytila:</label>
      <select name="status" id="status">
        <option value="Lähetetty">Lähetetty</option>
        <option value="Vastaanotettu">Vastaanotettu</option>
        <option value="Käsitellään">Käsitellään</option>
        <option value="Käsitelty">Käsitelty</option>
      </select>
    </p>
    <p>
      <label for="priority">Prioriteetti:</label>
      <select name="priority" id="priority">
        <option value="Matala">Matala</option>
        <option value="Keskiverto">Keskiverto</option>
        <option value="Korkea">Korkea</option>
      </select>
    </p>

    <input type="submit" value="Lähetä" />
  </form>
  {% endif %}

  <p>
    <a href="/{{ page - 1 }}">&lt;&lt;</a>
    Sivu {{ page }}/{{ page_count }}
    <a href="/{{ page + 1 }}">&gt;&gt;</a>
  </p>
  <hr />

</body>

</html>
