<!DOCTYPE html>
<html>

<head>
  <title>Luo tunnus</title>
</head>

<body>
  <h1>Luo tunnus</h1>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <form action="/register" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" value="{{ filled.username }}" maxlength="16" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password1" />
    </p>
    <p>
      Salasana uudestaan: <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>

  <hr />
  <p>
    <a href="/">Etusivulle</a>
  </p>
</body>

</html>