<!DOCTYPE html>
<html>

<head>
  <title>Haku</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <div class="header">
        <h1>Haku</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="info alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="nav">
        <nav>
            <p>
            <a href="/">Etusivulle</a>
            </p>
        </nav>
    </div>

    <div class="content">
        <form action="/search" method="get">
        <p>
            Hakusana:
            {% if query %}
            <input type="text" name="query" value="{{ query }}" />
            {% else %}
            <input type="text" name="query" />
            {% endif %}
        </p>
        <div class="search-group">
            <p>Luokitus:</p>
            <div class="search-options">
            <label class="search-option"><input type="checkbox" name="post_type" value="Info"> Info</label>
            <label class="search-option"><input type="checkbox" name="post_type" value="Kysymys"> Kysymys</label>
            <label class="search-option"><input type="checkbox" name="post_type" value="Ilmoitus"> Ilmoitus</label>
            </div>
        </div>
        <div class="search-group">
            <p>Käsittelytila:</p>
            <div class="search-options">
            <label class="search-option"><input type="checkbox" name="status" value="Lähetetty"> Lähetetty</label>
            <label class="search-option"><input type="checkbox" name="status" value="Vastaanotettu"> Vastaanotettu</label>
            <label class="search-option"><input type="checkbox" name="status" value="Käsitellään"> Käsitellään</label>
            <label class="search-option"><input type="checkbox" name="status" value="Käsitelty"> Käsitelty</label>
            </div>
        </div>
        <div class="search-group">
            <p>Prioriteetti:</p>
            <div class="search-options">
            <label class="search-option"><input type="checkbox" name="priority" value="Matala"> Matala</label>
            <label class="search-option"><input type="checkbox" name="priority" value="Keskiverto"> Keskiverto</label>
            <label class="search-option"><input type="checkbox" name="priority" value="Korkea"> Korkea</label>
            </div>
        </div>
        <input type="submit" value="Hae" />
        </form>

    {% if results %}
    <h2>Tulokset</h2>
    
    <ul>
    {% for result in results %}
      <li>
        <a href="/thread/{{ result.thread_id }}#{{ result.message_id }}">
          {{ result.thread_title }}
        </a>
        <br />
        {{ result.username }} ({{ result.sent_at }})
      </li>
    {% endfor %}
    </ul>
    {% endif %}
    </div>
</body>
</html>
