<!DOCTYPE html>
<html>

<head>
  <title>Haku</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>Haku</h1>
  </div>

  <div class="nav">
    <p>
      <a href="/">Etusivulle</a>
    </p>
  </div>

  <div class="content">
    <form action="/search" method="get">
      <p>
        Hakusana:
        {% if query %}
        <input type="text" name="query" value="{{ query }}" />
        {% else %}
        <input type="text" name="query" />
        {% endif %}
      </p>
      <p>
        Luokitus:
        <input type="checkbox" name="post_type" value="Info"> Info
        <input type="checkbox" name="post_type" value="Kysymys"> Kysymys
        <input type="checkbox" name="post_type" value="Ilmoitus"> Ilmoitus
      </p>
      <p>
        Käsittelytila:
        <input type="checkbox" name="status" value="Lähetetty"> Lähetetty
        <input type="checkbox" name="status" value="Vastaanotettu"> Vastaanotettu
        <input type="checkbox" name="status" value="Käsitellään"> Käsitellään
        <input type="checkbox" name="status" value="Käsitelty"> Käsitelty
      </p>
      <p>
        Prioriteetti:
        <input type="checkbox" name="priority" value="Matala"> Matala
        <input type="checkbox" name="priority" value="Keskiverto"> Keskiverto
        <input type="checkbox" name="priority" value="Korkea"> Korkea
      </p>
      <input type="submit" value="Hae" />
    </form>

    {% if results %}
    <hr />
    <h2>Tulokset</h2>
    
    <ul>
    {% for result in results %}
      <li>
        <a href="/thread/{{ result.thread_id }}#{{ result.message_id }}">
          {{ result.thread_title }}
        </a>
        <br />
        {{ result.username }} ({{ result.sent_at }})
      </li>
    {% endfor %}
    </ul>
    {% endif %}

  </div>
</body>

</html>