<!DOCTYPE html>
<html>

<head>
  <title>{{ thread.title }}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>{{ thread.title }}</h1>
    <p>
      Tyyppi: {{ thread.type }} <br />
      Käsittelytila: {{ thread.status }} <br />
      Prioriteetti: {{ thread.priority }} <br />
    </p>
  </div>

  <div class="nav">
    <p>
      <a href="/">Etusivulle</a>
    </p>
  </div>


  <div class="content">
    <hr />


    {% for message in messages %}
    <p id="{{ message.id }}">
      <a href="/user/{{ message.user_id }}">{{ message.username }}</a>
      ({{ message.sent_at }}): <br />
    </p>
    <p>
      {{ message.content | show_lines }}
    </p>
    {% if message.user_id == session.user_id %}
    <p>
      <a href="/edit/{{ message.id }}">Muokkaa</a> |
      <a href="/remove/{{ message.id }}">Poista</a>
    </p>
    {% endif %}
    <hr />
    {% endfor %}


    {% if session.user_id %}
    <h2>Uusi viesti</h2>

    <form action="/new_message" method="post">
      <p>
        <label for="content">Viesti:</label><br />
        <textarea name="content" rows="5" cols="40" maxlength="5000"></textarea>
      </p>

      <input type="hidden" name="thread_id" value="{{ thread.id }}" />
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" value="Lähetä" />
    </form>
    <hr />
    {% endif %}
  </div>

</body>

</html>