<!DOCTYPE html>
<html>

<head>
  <title>{{ thread.title }}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>{{ thread.title }}</h1>
    <p>
      Tyyppi: {{ thread.post_type }} <br />
      Käsittelytila: {{ thread.status }} <br />
      Prioriteetti: {{ thread.priority }} <br />
    </p>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="info alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
  </div>

  <div class="nav">
    <nav>
        <p>
            <a href="/">Etusivulle</a>
        </p>
    </nav>
  </div>


  <div class="content">
    {% for message in messages %}
    <div class="thread">
        <p id="{{ message.id }}">
            <a href="/user/{{ message.user_id }}">{{ message.username }}</a>
            ({{ message.sent_at }}): <br />
        </p>
        <p>
            {{ message.content | show_lines }}
        </p>
        {% if message.user_id == session.user_id %}
        <p>
            <a href="/edit/{{ message.id }}">Muokkaa</a> |
            <a href="/remove/{{ message.id }}">Poista</a>
        </p>
        {% endif %}
    </div>
    {% endfor %}


    {% if session.user_id %}
    <h2>Uusi viesti</h2>

    <form action="/new_message" method="post">
      <p>
        <label for="content">Viesti:</label><br />
        <textarea name="content" rows="5" cols="40" maxlength="5000"></textarea>
      </p>

      <input type="hidden" name="thread_id" value="{{ thread.id }}" />
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" value="Lähetä" />
    </form>
    <hr />
    {% endif %}
  </div>

</body>

</html>